$icon-font-path: "../bower_components/bootstrap-sass-official/vendor/assets/fonts/bootstrap/";

// bower:scss
@import "../bower_components/bootstrap-sass-official/vendor/assets/stylesheets/bootstrap.scss";
// endbower
@import url(http://fonts.googleapis.com/css?family=Lato:300,400);
@import url(http://fonts.googleapis.com/css?family=Dosis:300,400);


body {
	font-family: Lato;
	overflow: none;
}

.page {
	width: 100%;
	height: 100%;
	position: absolute;
	margin: 0;
	padding: 0 80px;
	top: 0;
	left: 0;
	visibility: hidden;
	overflow: hidden;
	backface-visibility: hidden;
	transform: translate3d(0, 0, 0);
}

.page.current { visibility: visible }
.page.top { z-index:999 }

#home {
	background-image: url('../images/background.png');
	background-size: cover;

	.welcome {
		text-align:center;
		color:#fff;

		.title {
			font-weight: bolder;
			font-size: 5em;

			.color { color: #000 }
		}

		.title-1 { margin-bottom:0 }

		.title-2 {
			margin-top:-20px;
			font-size:7em;
		}
	}
}


#services {
	width: 100%;
	background: #55f;

	.title {
		padding:0 25%;
		color:#fff;
		font-size: 6.7em;
		font-weight: bolder;
	}

}

#team {
	background: #e33;

	> .title {
		color:#fff;
		margin:0;
		padding: 15px;
		text-align: center;
		font-weight: bolder;
		font-size: 4.3em;
	}
}


.card {
	font-weight: lighter;
	color: #333;
	background:#fff;
	transform: translate3d(0, 0, 0);

	.photo { width:100% }

	.title {
		font-weight: bolder;
		color:#fff;
		background:#222; //#c23
		margin:0;
		padding: 15px;
	}

	.lead { padding: 15px }
}

.with-line {
	border-bottom: 1px solid #fff;
}
